#topcontrol {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background: #008fa1;
    color: #fff;
    text-align: center;
    display: inline-block;
    z-index: 30;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-clip: padding-box;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#topcontrol:hover {
    background: #007888;
    color: #fff;
}
#topcontrol .fa {
    position: relative;
    top: 3px;
    font-size: 25px;
    font-weight: normal;
}
.header {
    background: #F3BD1C;
    color: #fff;
}
.header a {
    color: #fff;
}
.header .top-bar {
    position: relative;
    padding-top: 15px;
    padding-bottom: 120px;
}
.header .social {
    margin-bottom: 0;
}
.header .social a {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-clip: padding-box;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.header .social a:hover {
    color: #fff;
    border-color: #fff;
}
.header .actions {
    position: absolute;
    right: 15px;
    top: 15px;
}
.header .actions .fa {
    margin-right: 5px;
}
.header .actions a {
    margin-right: 10px;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
}
.header .actions a:last-child {
    margin-right: 0;
}
.header .profile-image {
    position: absolute;
    width: 160px;
    height: auto;
    top: -80px;
    margin-left: -80px;
    left: 50%;
}
.header .name {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}
.header .title {
    font-size: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}
.header .intro {
    background: #00a5bb;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
    font-size: 16px;
}
.header .profile {
    max-width: 800px;
    margin: 0 auto;
}
.header .contact-info {
    background: #008fa1;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}
.header .contact-info ul {
    margin-bottom: 0;
}
.header .contact-info li {
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.header .contact-info li a {
    color: rgba(255, 255, 255, 0.8);
}
.header .contact-info li a:hover {
    color: #fff;
}
.header .contact-info li:last-child {
    margin-right: 0;
}
.header .contact-info li .fa {
    margin-right: 10px;
}

/* Page Nav */

.page-nav-space-holder {
    height: 60px;
    position: relative;
}
.page-nav-wrapper {
    background: #007888;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.page-nav-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #00BCD4;
}
.page-nav-wrapper a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 500;
}
.page-nav-wrapper .page-nav {
    margin: 0 auto;
    display: inline-block;
}
.page-nav-wrapper .page-nav li {
    margin-right: 30px;
    display: inline-block;
    background: none;
}
.page-nav-wrapper .page-nav li:hover,
.page-nav-wrapper .page-nav li:active {
    background: none;
}
.page-nav-wrapper .page-nav li.active a {
    color: #fff;
    background: none;
}
.page-nav-wrapper .page-nav li a {
    color: rgba(255, 255, 255, 0.6);
    padding: inherit;
}
.page-nav-wrapper .page-nav li a:hover {
    color: #fff;
}
.page-nav-wrapper .page-nav li a:hover,
.page-nav-wrapper .page-nav li a:active,
.page-nav-wrapper .page-nav li a:focus {
    background: none;
}
.page-nav-wrapper .page-nav li:last-child {
    margin-right: 0;
}